<!DOCTYPE html>

<html>
  <head>
    <title>Energy Monitoring(Graph)</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- import plugin script -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    
  </head>
  <body align="center">

    <div id="title" >
      <h1>TAN LING YEE: FYP 2019/2020</h2>
      <p>Non Intrusive Appliances Monitoring On Smart Meter Using Logistic Regression</p>
      <div id="btnGroup">
        <button id="btnStart">Start</button>
        <button id="btnCancel">Cancel</button>
      </div>
      <div>
        <p id="date"></p>
        <p id="dateTime"></p>
        <p id="voltMeter">11111</p>
      </div>
      <div>
        <h1><script>'{{ legends }}'</script></h1>
          
        
      </div>
      <div id="graphCanvas" align="center">
        <!--canvas id="myChart" width="1200" height="450"></canvas-->
        <script> 
          window.onload = function() {
            var dataPoints = [];
            var chart;

            $.getJSON("../graph.json", function(data) {  
                $.each(data, function(key, value){
                    dataPoints.push({x: value[0], y: value[1]});
                });
                chart = new CanvasJS.Chart("chartContainer",{
                    title:{
                        text:"Live Chart with dataPoints from External JSON"
                    },
                    data: [{
                        type: "line",
                        dataPoints : dataPoints,
                    }]
                });
                chart.render();
                updateChart();
            });
            function updateChart() {
            $.getJSON("https://canvasjs.com/services/data/datapoints.php?xstart=" + (dataPoints.length + 1) + "&ystart=" + (dataPoints[dataPoints.length - 1].y) + "&length=1&type=json", function(data) {
                $.each(data, function(key, value) {
                    dataPoints.push({
                    x: parseInt(value[0]),
                    y: parseInt(value[1])
                    });
                });
                chart.render();
                setTimeout(function(){updateChart()}, 1000);
            });
            }
        }
        </script>
      </div>
      <div id="chartContainer" style="height: 300px; width: 100%;"></div>
      <div id=subMeter>
        <strong>Submeter 1</strong> |
        <strong>Submeter 2</strong> |
        <strong>Submeter 3</strong>
      </div>
    </div>
    <br>
    <br> 

    <script type="text/javascript" src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script type="text/javascript" src={{ url_for('static', filename='app.js')}}></script>
  </body>
</html>