<!DOCTYPE html>

<html>
  <head>
    <title>Energy Monitoring(Graph)</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src={{ url_for('static', filename='graphData.js')}}></script>
    <!-- import plugin script -->
    <!--script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script-->

  </head>
  <body align="center">

    <div id="title" >
      <h1>TAN LING YEE: FYP 2019/2020</h2>
      <p>Non Intrusive Appliances Monitoring On Smart Meter Using Logistic Regression</p>
      <div id="btnGroup">
        <button id="btnStart">Start</button>
        <button id="btnCancel">Cancel</button>
      </div>
      <div>
        <p id="date"></p>
        <p id="dateTime"></p>
        <p id="voltMeter">Volt Meter Value</p>
      </div>
      <div>
      
        <!--canvas id="myChart" width="1200" height="450"></canvas-->
        <script>
          var chart; 
          var dps = []; 
          

          window.onload=function(){
            dps = [{ y: 0 }]; 

            chart = new CanvasJS.Chart("chartContainer",{
                title:{
                  text:"Power Consumption"
                },
                axisY:{
                  includeZero: false
                },
                data: [{
                  type: "line",
                  dataPoints : dps,
                }]
              });

            chart.render();

            var gdata;
            var int=0; 
            var updateInterval = 1000;

            function updateChart() {
              gdata = getGData();
              var value = gdata[int]; 
              dps.push({ y: value });
              chart.render();
              int++; 
            } 
            setInterval(function () { updateChart() }, updateInterval);
          }; 
        </script>
      
      <div id="chartContainer" style="height: 300px; width: 100%;"></div>
      <div id=subMeter>
        <br>
        <strong>Submeter 1</strong> |
        <strong>Submeter 2</strong> |
        <strong>Submeter 3</strong>
      </div>
    </div>
    <br>
    <br> 

    <script type="text/javascript" src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script type="text/javascript" src={{ url_for('static', filename='app.js')}}></script>
    
  </body>
</html>