<!DOCTYPE html>

<html>
  <body style="background-color:Azure">
  <head>
    <title>Energy Monitoring(Graph)</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src={{ url_for('static', filename='graphData.js')}}></script>
    <!-- import plugin script -->
    <!--script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script-->

  </head>
  <body align="center">

    <div id="title" >
      <h1>TAN LING YEE: FYP 2019/2020</h2>
      <p>Non Intrusive Appliances Monitoring On Smart Meter Using Logistic Regression</p>
      <div id="btnGroup">
        <button id="btnStart">Start</button>
        <button id="btnCancel">Cancel</button>
      </div>
      <div>
        <br></br>
        <p1>Date : </p1> <p1 id="date"></p1> <br></br>
        <p2>Time (24Hours) : </p2> <p2 id="dateTime"></p2> <br></br>
        <p3>Power Consumption : </p3> <p3 id="powerMeter"></p3> <br></br>
      </div>
      <div>
      
        <!--canvas id="myChart" width="1200" height="450"></canvas-->
        <script>
          var chart; 
          var dps = []; 
          

          window.onload=function(){
            // dps = [{ y: 0 }]; 

            chart = new CanvasJS.Chart("chartContainer",{
                title:{
                  text:"Daily Power Consumption"
                },
                axisY:{
                  includeZero: false
                },
                axisX:{
                  includeZero: false
                },
                data: [{
                  type: "line",
                  dataPoints : dps,
                }]
              });

            chart.render();

            var gdata;
            var gtime;
            var int=0; 
            var updateInterval = 1000;
            
            function updateChart() {
              gdata = getData();
              gtime = getTime();
              var power_value = gdata[int]; 
              var time_value = gtime[int];
              dps.push({label: time_value , y: power_value });
              chart.render();
              int++; 
            } 
            setInterval(function () { updateChart() }, updateInterval);
          }; 


      

        //Value Shown On Top
        setInterval(function(){myTimer()},1000);
        setInterval(function (){meterValue()},1000);

        </script>
      
      <div id="chartContainer" style="height: 300px; width: 100%;"></div>
      <div id=subMeter>
        <br>
        <strong>Microwave Oven (Submeter 1)</strong> |
        <strong>Washing Machine (Submeter 2)</strong> |
        <strong>Air-Conditioner (Submeter 3)</strong>
      </div>
    </div>
    <br>
    <br> 

    <script type="text/javascript" src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script type="text/javascript" src={{ url_for('static', filename='app.js')}}></script>
    
  </body>
</html>