<!DOCTYPE html>

<html>
  <body style="background-color:Azure">
  <head>
    <title>Energy Monitoring(Graph)</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src={{ url_for('static', filename='graphData.js')}}></script>
    <!-- import plugin script -->
    <!--script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script-->

  </head>
  <body align="center">

    <div id="title" >
      <h1>TAN LING YEE: FYP 2019/2020</h2>
      <p>Non Intrusive Appliances Monitoring On Smart Meter Using Logistic Regression</p>
      <div id="btnGroup">
        <button id="btnStart">Start</button>
        <button id="btnCancel">Cancel</button>
      </div>
      <div>
        <br> 
        <p1>Date : </p1> <p1 id="date"></p1> | <p2>Time (24Hours) : </p2> <p2 id="dateTime"></p2> <br></br>
        <p3>Power Consumption : </p3> <p3 id="powerMeter"></p3> <br></br>
      </div>
      <div>
      <script>
        var chart; 
        var dps = []; 
          
        window.onload=function(){
        document.getElementById("btnCancel").disabled = true;  
        var start = document.getElementById("btnGroup");
        

        start.addEventListener('click', function(evt){ 

          document.getElementById("btnCancel").disabled = true;
          var target = evt.target; 
          if(target.id === "btnStart")
          {

            document.getElementById("btnStart").disabled = true; 
            document.getElementById("btnCancel").disabled = false; 

            chart = new CanvasJS.Chart("chartContainer",{
              title:{
                text:"Daily Power Consumption"
              },
              axisY:{
                includeZero: false
              },
              axisX:{
                includeZero: false
              },
              data: [{
                type: "line",
                dataPoints : dps,
              }]
            });

            chart.render();

            var gdata;
            var gtime;
            var int=0; 
            var updateInterval = 1000;
            var intervalGraph, intervalTime, intervalMeter, intervalSubMeter;
                
            function updateChart() {
              gdata = getData();
              gtime = getTime();
              var power_value = gdata[int]; 
              var time_value = gtime[int];
              dps.push({label: time_value , y: power_value });
              chart.render();
              int++; 
            } 

            // function stopInterval(){ 

            //   clearInterval(intervalGraph); 
            //   clearInterval(intervalTime); 
            //   clearInterval(intervalMeter); 
            //   clearInterval(intervalSubMeter); 
            // }

            intervalGraph = setInterval(function () { updateChart() }, updateInterval);
            //Value Shown On Top
            intervalTime = setInterval(function(){myTimer()},1000);
            intervalMeter = setInterval(function(){meterValue()},1000);
            intervalSubMeter = setInterval(function(){setSubmeterStatus()},1000);
          } 
          else if(target.id === "btnCancel")
          { 
            document.getElementById("btnStart").disabled = false; 
            document.getElementById("btnCancel").disabled = true;
            
          }
          else 
          { 

            // document.getElementById("btnStart").disabled = false; 
            // document.getElementById("btnCancel").disabled = true;
            // alert("Please click the start button!"); 

          }

        });
        
        
        
      }; 

      
        
      </script>
      
      <div id="chartContainer" style="height: 300px; width: 100%;"></div>
      <div id=subMeter>
        <div>
          <img src="https://hnsgsfp.imgix.net/9/images/detailed/24/Panasonic_NN-CT655_27L_Microwave_Grill_Oven.png?fit=fill&bg=0FFF&w=785&h=441&auto=format,compress" alt="Microwave" style="height: 8%; width: 8%;">
          <button id="status_microwave" disabled>.</button>
          <img src="https://www.senheng.com.my/media/catalog/product/cache/926507dc7f93631a094422215b778fe0/e/l/ele-ewf7525eqwa_1.jpg" alt="Washing Machine" style="height: 8%; width: 8%;">
          <button id="status_washing" disabled>.</button>
          <img src="https://www.senheng.com.my/media/catalog/product/cache/926507dc7f93631a094422215b778fe0/s/h/shp-aha9wcd_1.jpg" alt="Air-Conditioner" style="height: 8%; width: 8%;">
          <button id="status_aircon" disabled>.</button>
        </div>
      </div>
    </div>
    <br>
    <br> 

    <script type="text/javascript" src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script type="text/javascript" src={{ url_for('static', filename='app.js')}}></script>
    
  </body>
</html>